<div align="center">
    <header style="background-color: black;">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a routerLink="/home" routerLinkActive="active" disableRipple='true' class="nav-link px-2 text-secondary"><h4>Pizzeria</h4> </a></li>
                <li><img class="bi me-2" width="70" height="60" src="./assets/PizzeriaLogo.png" class="logo-image"></li>
                <li><a routerLink="/order" routerLinkActive="active" class="nav-link px-2 text-secondary">Order Pizza</a></li>
                <li><a routerLink="/build" routerLinkActive="active" class="nav-link px-2 text-secondary">Build your Pizza</a></li>
                <li *ngIf="loginService.flag==0" style="float: right; "><a routerLink="/login" routerLinkActive="active" class="nav-link px-2 text-secondary" style="float: right;">{{text}}</a></li>
                <li *ngIf="loginService.flag==1" style="float: right;"><a class="nav-link px-2 text-secondary" style="float: right;">{{loginService.user.email}}</a></li>
                <li *ngIf="loginService.flag==1" style="float: right;"><a (click)="logout()" class="nav-link px-2 text-secondary" style="float: right;">Logout</a></li>
            </ul>
            
            <div style="background-color: black;">
              <button type="button" routerLink="/cart" class="btn btn-warning text-white" ><img width="40" height="25"  src="./assets/cart-a.png"/>shopping Cart</button>
              </div>
            <!-- <div class="text-end">
              <button type="button" routerLink="/shoppingcart" class="btn btn-warning"><img width="70" height="30"  src="./assets/submit.png"/></button>
            </div> -->
          </div>
        </div>
    </header>
</div>
